<section id="test">
    {% csrf_token %}
    <input type="hidden" value="not-started" id="testState">
    <input type="hidden" 
        {% if user %} 
            value="{{user.duration}}" 
        {% else %} 
            value="{{preferences.default_duration}}" 
        {% endif %} 
        id="testLength"
    >
    <form id="restartForm" method="post" action="/restart">
        {% csrf_token %}
    </form>
    <section id="words">
        <div id="startTestPrompt"><span>Click here to start test...<br>Press TAB to restart!</span></div>
        <div id="wordWrapper">
        {% for line in word_list %}
            {% for word in line %}
                <div class="word">
                    {% for letter in word %}
                        <div class="letter">{{letter}}</div>
                    {% endfor %}
                    <div class="space"></div>
                </div>
            {% endfor %}
            <br/>
        {% endfor %}
        </div>
    </section>
    <section id="timerAndCounter">
        <section id="timer">
            <span></span>
        </section>
        <section id="counter">
            <span></span>
        </section>
    </section>
</section>
<script>
    $(document).ready(() => {
        {% if tabRestart is True %}
            setupTest();
        {% endif %}
    })
</script>