/* resets */
* {
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

a { text-decoration: none; }

h1 { font-size: calc(40px + 1vw); }

.hide { display: none; }

select { 
    border: 1px solid var(--dark-color); 
    border-radius: 3px;
}

body { background-color: var(--bg-color); }

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    padding: 1vh 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: var(--light-color);
    z-index: 1000;
    font-size: calc(24px + 1vw);
}
nav a.brand { color: var(--brand-color); }
nav a.brand span.fullTitle { color: var(--dark-color); }
nav i#navMenu { 
    color: var(--brand-color); 
    cursor: pointer;
}
nav i#navMenu:hover { color: var(--dark-color); }

section#userPane {
    position: fixed;
    top: 0;
    left: 100%;
    width: 0%;
    height: 100vh;
    padding: 6vh 0 0;
    background-color: var(--dark-color);
    font-size: calc(8px + 0.6vw);
    z-index: 900;
}

#noTest {
    margin: 20vh auto;
    width: 85%;
    text-align: center;
    color: var(--mid-color);
}

@media only screen and (min-width: 1024px) {
    #noTest { display: none; }
    #test { display: flex; }
}
@media only screen and (max-width: 1023.9px) {
    #noTest, main section#keeb, footer form#layoutForm { display: none; }
    #test { display: flex; } 
}
@media only screen and (max-width: 750px) {
    #noTest { display: block; }
    nav i#navMenu, section#userPane, section#test, section#words, section#timerAndCounter,
    form#layoutForm, form#modeForm { display: none; }
}