main section#keeb {
    height: calc(36vh + 60px);
    padding-top: 2vh;
    width: 90%;
    max-width: 1220px;
    margin: 1vh auto 0;
    border-radius: 5px;
}

main section#keeb div.keebRow {
    height: 6vh;
    margin: 5px 0;
    display: flex;
    justify-content: center;
}
main section#keeb div.keebKey {
    background-color: var(--keyDark-color);
    color: var(--text-color);
    height: 95%;
    margin: auto 2.5px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-weight: bold;
}
main section#keeb div.emptySpace {
    height: 95%;
    margin: auto 2.5px;
}
main section#keeb div.keebKey div.oneChar {
    margin: 5px;
    padding: 0 5px;
    height: 80%; 
    background-color: var(--keyLight-color);
    font-size: calc(10px + .6vh);
    border-radius: 3px;
}
main section#keeb div.keebKey div.twoChars {
    margin: 5px;
    height: 80%;
    padding: 0 5px;
    background-color: var(--keyLight-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 3px;
}
main section#keeb div.keebKey div.shift, 
main section#keeb div.keebKey div.main 
{
    width: 100%;
    padding: 0;
    font-size: calc(12px + .6vh);
}

footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

footer form select { margin: 0 10px; }