/* leaderboard overlay */
div#leaderboardOverlay {
    position: fixed;
    top: 6vh;
    left: 0;
    height: 94vh;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 5000;
}

/* leaderboard div */
div#leaderboardScreen {
    position: fixed;
    top: 18vh;
    left: 0;
    height: 64vh;
    width: calc(80vw - 120px);
    margin: 0 10vw;
    border-radius: 10px;
    padding: 30px;
    background-color: var(--bg-color);
    z-index: 6000;
    overflow-y: scroll;
}
div#leaderboardScreen::-webkit-scrollbar {
    border-radius: 0 10px 10px 0;
}
div#leaderboardScreen::-webkit-scrollbar-track {
    border: 5px solid var(--bg-color);
    border-radius: 10px;
}
div#leaderboardScreen::-webkit-scrollbar-thumb {
    background-color: var(--keyPressLight-color);
    border-radius: 10px;
    border: 5px solid var(--bg-color);
}

/* leaderboard buttons */
div#leaderboardScreen button {
    margin: 5px 0 0;
    padding: 5px 10px;
    color: var(--text-color);
    cursor: pointer;
}
div#leaderboardScreen button.active { background-color: var(--keyPressLight-color); }
div#leaderboardScreen button:not(.active) { background-color: var(--keyLight-color); }

div#durationButtons, div#difficultyButtons {
    display: flex;
}
div#durationButtons button:first-of-type,
div#difficultyButtons button:first-of-type {
    border-radius: 5px 0 0 5px;
}
div#durationButtons button:last-of-type,
div#difficultyButtons button:last-of-type {
    border-radius: 0 5px 5px 0;
}

/* leaderboard table */
table#leaderboardTable { height: 100vh; }
table#leaderboardTable tr {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
table#leaderboardTable th,
table#leaderboardTable td {
    width: calc((80vw - 150px) / 5 - 40px);
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
}

table#leaderboardTable td span.rank {
    color: var(--keyPressLight-color);
    margin-right: 10px;
}

table#leaderboardTable th {
    color: var(--keyPressLight-color);
    font-family: 'Roboto Mono', monospace;
    font-size: calc(8px + 0.6vw);
    font-weight: bold;
}
table#leaderboardTable td {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: calc(6px + 0.6vw);
}

