div#loginErrors, div#registerErrors { 
    width: 70%;
    margin: 10px auto;
    color: red;
}

div#loginErrors ul, div#registerErrors ul { 
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div#loginRegistrationPicker {
    width: 70%;
    margin: 50px auto;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
}
div#loginRegistrationPicker span {
    height: 100%;
    width: calc(50% - 20px);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div#loginRegistrationPicker span:not(.active) {
    background-color: white;
    cursor: pointer
}
div#loginRegistrationPicker span:not(.active):hover {
    background-color: var(--light-color);
}
div#loginRegistrationPicker span.active {
    background-color: rgb(0, 68, 255);
}

section#userPane form { 
    width: 100%;
    display: inline-block;
}

section#userPane form label { 
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto; 
}

section#userPane form label span {
    padding: 10px;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section#userPane form input {
    padding: 10px;
    border-radius: 5px;
}
section#userPane form div#submitWrapper { width: 100%; }
section#userPane form input[type='submit'] { 
    margin: 10px auto; 
    display: inline-block;
    font-weight: bold; 
    cursor: pointer;
}