section#test {
    height: 45vh;
    width: 90%;
    min-width: 750px;
    margin: 6vh auto 0;
    align-items: center;
    justify-content: center;
    color: var(--brand-color);
}

section#words {
    height: 40vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

div#startTestPrompt {
    position: absolute;
    top: calc(8vh + 8px); 
    left: 14%;
    height: 50px;
    width: 72%;
    padding: calc(19vh - 25px) 0 calc(21vh - 25px);
    font-size: calc(16px + 0.4vw);
    text-align: center;
    z-index: 800;
    font-size: 1.75rem;
    cursor: pointer;
}

div#wordWrapper {
    height: 9rem;
    width: 95%;
    max-width: 66rem;
    margin: 0 3%;
    padding: 0; 
    border-radius: 5px;
    overflow: hidden;
    opacity: 0.05;
    font-family: "Roboto Mono", monospace;
    font-size: 1.75rem;
}
div#innerWordWrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
div#startTestPrompt:hover ~ div#wordWrapper { background-color: var(--text-color); }

div#wordWrapper div.word {
    height: 2.5rem;
    margin: 0 0 0.5rem; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
div#wordWrapper div.letter {
    display: flex;
    align-items: center;
}
div#wordWrapper div.space {
    width: 0.8rem;
}
div#wordWrapper div.space.incorrect { 
    /* border-bottom: 2px solid var(--keyPressLight-color); */
    background-color: var(--keyPressLight-color);
}
div.word.current { /*color: var(--keyPressDark-color);*/ }
div.letter.nextChar { border-left: 3px solid var(--keyPressDark-color); }
div.letter.beforeNextChar { border-right: 3px solid var(--keyPressDark-color); }
div.letter.incorrect { color: var(--keyPressLight-color); }
div.letter.correct { color: var(--keyDark-color); }

section#timerAndCounter { width: 0; }
section#timer,
section#counter {
    display: none;
    justify-content: center;
    align-items: center;
}
section#timer { height: 15vh; }
section#counter { height: 25vh; }

section#timer span,
section#counter span {
    display: inline-block;
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    text-align: center;
}   
section#timer span {
    color: var(--text-color);
    font-size: calc(40px + 5vw);
}
section#counter span {
    color: var(--text-color); 
    font-size: calc(40px + 2vw);
}