section#test {
    height: 45vh;
    width: 90%;
    min-width: 750px;
    margin: 6vh auto 0;
    align-items: center;
    justify-content: center;
    color: var(--brand-color);
}

section#words {
    height: 40vh;
    width: 80%;
    cursor: pointer;
}

div#startTestPrompt {
    position: absolute;
    top: calc(8vh + 8px); 
    left: 14%;
    height: 50px;
    width: 72%;
    padding: calc(19vh - 25px) 0 calc(21vh - 25px);
    font-size: calc(16px + 0.4vw);
    text-align: center;
    z-index: 800;
}

div#wordWrapper {
    height: 28vh;
    width: 74%;
    margin: 6vh 3%;
    padding: 0 10%; 
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    opacity: 0.05;
    font-family: "Roboto Mono", monospace;
    font-size: calc(16px + 0.6vw);
}
div#startTestPrompt:hover ~ div#wordWrapper { background-color: var(--text-color); }

div#wordWrapper div.word {
    height: calc(16px + 0.6vw);
    margin: 0 0 1.5vh; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
div#wordWrapper div.letter {
    height: calc(16px + 0.6vw);
    margin: auto;
    display: flex;
    align-items: center;
}
div#wordWrapper div.space {
    height: calc(16px + 0.6vw - 2px);
    width: 1%;
}
div#wordWrapper div.space.incorrect { border-bottom: 2px solid var(--keyPressLight-color); }
div.word.current { /*color: var(--keyPressDark-color);*/ }
div.letter.nextChar { border-left: 3px solid var(--keyPressDark-color); }
div.letter.beforeNextChar { border-right: 3px solid var(--keyPressDark-color); }
div.letter.incorrect { color: var(--keyPressLight-color); }
div.letter.correct { color: var(--keyDark-color); }

section#timerAndCounter { width: 0; }
section#timer,
section#counter {
    display: none;
    justify-content: center;
    align-items: center;
}
section#timer { height: 15vh; }
section#counter { height: 25vh; }

section#timer span,
section#counter span {
    display: inline-block;
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
    text-align: center;
}   
section#timer span {
    color: var(--text-color);
    font-size: calc(40px + 5vw);
}
section#counter span {
    color: var(--text-color); 
    font-size: calc(40px + 2vw);
}